<div class="p-1">
  <div class="logo flex items-center">
    <span class="wed font-bold text-xl">Wed</span>
    <span class="ease text-xl text-indigo-600">Ease</span>
  </div>
  <ul class="mt-4 space-y-2 text-white">
    <li><a routerLink="/vender/serviceList" class="block p-2 rounded hover:bg-gray-200 hover:bg-opacity-20">Services</a></li>
    <li><a routerLink="/vender/posts" class="block p-2 rounded hover:bg-gray-200 hover:bg-opacity-20">Posts</a></li>
    <li><a routerLink="/vender/meetingRequests" class="block p-2 rounded hover:bg-gray-200 hover:bg-opacity-20">Meeting Requests</a></li>
    <li><a routerLink="/vender/eventCalender" class="block p-2 rounded hover:bg-gray-200 hover:bg-opacity-20">Calender</a></li>
    <li><a routerLink="/vender/profile" class="block p-2 rounded hover:bg-gray-200 hover:bg-opacity-20">Profile</a></li>
  </ul>
</div>