<div class="p-1">
  <div class="logo flex items-center">
    <span class="wed font-bold text-xl">Wed</span>
    <span class="ease text-xl text-indigo-600">Ease</span>
  </div>
  <ul class="mt-4 space-y-2 text-white">
    <li><a href="#" class="block p-2 rounded hover:bg-gray-200 hover:bg-opacity-20">Posts</a></li>
    <li><a href="#" class="block p-2 rounded hover:bg-gray-200 hover:bg-opacity-20">Settings</a></li>
    <li><a href="#" class="block p-2 rounded hover:bg-gray-200 hover:bg-opacity-20">Profile</a></li>
  </ul>
</div>