.logo {
    font-size: 24px;
    font-weight: bold;
  }
  .logo .wed {
    color: #FFD700; /* Yellow color */
  }
  .logo .ease {
    color: #000000; /* Black color */
  }

@tailwind base;
@tailwind components;
@tailwind utilities;